.item-2 .input-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item-2 .input-wrapper input{
    padding: 0 2rem;
    color: white;
    font-size: 1.3rem;
    line-height: 1;
    outline: none;
    width: calc(100% - 4rem - 1vh);
    height: 100%;
    border: 0.5vh solid transparent;
    background-image: linear-gradient(black, black), linear-gradient(90deg, #6A00FF, #A64AFF);
    border-radius: 3vh;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
}