.auth-container{
    position: relative;
    margin-top: 12rem;
    min-height: 100vh;
    z-index: 1;
}

.auth-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

.auth-field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 3vh;
    width: 50vh;
    color: white;
    text-align: center;
    gap: 5vh
}

.auth-header{
    margin-top: 5vh;
    margin-bottom: 0;
    width: 100%;
}

.input-field-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 5vh;
    width: 100%;
}

.auth-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5vh;
}

.wrong-login-warning{
    padding: 0 10vh;
    color: #DA4167;
    margin: -4vh 0;
}