.auth-container{
    position: relative;
    margin-top: 12rem;
    min-height: 100vh;
    z-index: 1;
}

.auth-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

.auth-field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 3vh;
    width: 50vh;
    color: white;
    font-family: Inter, Arial;
    text-align: center;
}

.auth-header{
    margin: 5vh 0;
    width: 100%;
}

.input-field-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 5vh;
    width: 100%;
}

.auth-confirm{
    width: 100%;
    margin: 5vh 0;
}

.auth-button{
    width: 60%;
    height: 6vh;
    border: 1px solid cyan;
    border-radius: 3vh;
    padding: 7px 40px;
    box-shadow: 0 4px 4px 0 rgb(21, 113, 131);
    background: #000;
    color: cyan;
    font-weight: 600;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.auth-button:hover{
    border: 1px solid cyan;
    background-color: cyan;
    color: black;
}