.auth-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 6vh;
    border: 1px solid cyan;
    border-radius: 3vh;
    padding: 7px 40px;
    box-shadow: 0 4px 4px 0 rgb(21, 113, 131);
    background: #000;
    color: cyan;
    font-weight: 600;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.auth-button:hover{
    border: 1px solid cyan;
    background-color: cyan;
    color: black;
}

.active-auth-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 6vh;
    border: 1px solid cyan;
    border-radius: 3vh;
    padding: 7px 40px;
    box-shadow: 0 4px 4px 0 rgb(21, 113, 131);
    background: cyan;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.loading{
    background-image: url("../../assets/loading.png");
    animation: animate 1s ease infinite;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.submit{
    background-image: url("../../assets/check.png");
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

@keyframes animate {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}