/* src/EditorComponent.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: calc(100%);
    margin: 10px 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100vh - 69px);
    gap: 1rem;
}

.default-container-border{
    border: 0.3vh solid transparent;
    border-radius: 3vh;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.markdown-container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
    background-color: #1E1E1E;
    color: white;
    background-image: linear-gradient(#1E1E1E, #1E1E1E), linear-gradient(90deg, #6A00FF, #A64AFF);
}

.md-description{
    padding: 3px 20px 0 20px;
    margin-bottom: 10vh;
    flex: 1;
    overflow: auto;
}

.editor-container {
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    background-image: linear-gradient(#1E1E1E, #1E1E1E), linear-gradient(90deg, #A64AFF, #FFB1FF);
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-wrapper button {
    margin-top: 20px;
}

