blockquote {
    border-left: 2px solid #ccc;
    margin: 1rem;
    padding-left: 1rem;
    color: #fff9;
}

blockquote strong{
    color: white;
}

blockquote p {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

.markdown-container h1{
    padding: 2%;
    margin: 0;
}

.markdown-container p{
    margin: 0;
}
