#header {
    display: block;
    columns: 2;
}

.changeColors {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: changeColors;
    animation-name: changeColors;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.changeBackgroundColors {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: changeBackgroundColors;
    animation-name: changeBackgroundColors;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes changeColors {
    0% {
      color: aqua;
    }
    25% {
      color: red;
    }
    50% {
        color: yellow;
    }
    75% {
        color:blueviolet;
    }
    100% {
        color:aqua;
    }
}
@keyframes changeColors {
    0% {
        color: aqua;
    }
    25% {
        color: red;
    }
    50% {
        color: yellow;
    }
    75% {
        color:blueviolet;
    }
    100% {
        color:aqua;
    }
}

@-webkit-keyframes changeBackgroundColors {
    0% {
      background-color: aqua;
      color:black;
    }
    25% {
        background-color: darkred;
        color:white;
    }
    50% {
        background-color: yellowgreen;
        color: black;
    }
    75% {
        background-color:darkviolet;
        color:white
    }
    100% {
        background-color:aqua;
        color: black;
    }
}

@keyframes changeBackgroundColors {
    0% {
        background-color: aqua;
        color:black;
      }
      25% {
          background-color: darkred;
          color:white;
      }
      50% {
          background-color: yellowgreen;
          color: black;
      }
      75% {
          background-color:darkviolet;
          color:white
      }
      100% {
          background-color:aqua;
          color: black;
      }
}