.input-box{
    position: relative;
}

.input-box input{
    margin: 0;
    font-size: 1.1rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
}

.input-box.type-md input{
    border-bottom: .05rem solid white;
}

.input-box label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.1rem;
    transition: .2s ease-in-out;
}

.input-box.type-md label{
    left: 0;
}

.input-box input:focus + label,
.input-box input:valid + label{
    top: 5%;
    color: cyan;
    font-size: .8rem;
}

.input-box input:not(:focus) + label{
    color: #aaaaaa;
}

.input-box .border{
    position: absolute;
    left: 0;
    bottom: 0;
    height: .1rem;
    width: 100%;
}