.reg-container{
    position: relative;
    margin-top: 12rem;
    min-height: 100vh;
    z-index: 1;
}

.reg-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}

.reg-field{
    background: black;
    width: 50vh;
    height: 50vh;
    color: white;
    font-family: Inter, Arial;
    text-align: center;
}

.input-field-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}