.grid-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.grid_line{
    position: absolute;
    z-index: 0;
}

.vertical_line{
    height: 100%;
    width: 2px;
}

.horizontal_line{
    height: 2px;
    width: 100%;
}

.v-line-1{
    left: 50%;
    background: linear-gradient(to bottom, #59A85E00 16%, #59A85E 50%, #59A85E00 81%);
}

.v-line-2{
    left: 43%;
    background: linear-gradient(to bottom, #59A85E00 18%, #59A85E80 50%, #59A85E00 84%);
}

.v-line-3{
    left: 36%;
    background: linear-gradient(to bottom, #59A85E00 17%, #59A85E50 50%, #59A85E00 85%);
}

.v-line-4{
    left: 29%;
    background: linear-gradient(to bottom, #59A85E00 23%, #59A85E30 52%, #59A85E00 84%);
}

.v-line-5{
    left: 22%;
    background: linear-gradient(to bottom, #59A85E00 25%, #59A85E20 52%, #59A85E00 67%);
}

.v-line-6{
    left: 15%;
    background: linear-gradient(to bottom, #59A85E00 25%, #59A85E10 38%, #59A85E00 45%);
}

.v-line-7{
    left: 57%;
    background: linear-gradient(to bottom, #59A85E00 19%, #59A85E 50%, #59A85E00 79%);
}

.v-line-8{
    left: 64%;
    background: linear-gradient(to bottom, #59A85E00 19%, #59A85E60 50%, #59A85E00 71%);
}

.v-line-9{
    left: 71%;
    background: linear-gradient(to bottom, #59A85E00 30%, #59A85E20 49%, #59A85E00 64%);
}

.v-line-10{
    left: 78%;
    background: linear-gradient(to bottom, #59A85E00 30%, #59A85E20 44%, #59A85E00 53%);
}

.h-line-1{
    top: 50%;
    background: linear-gradient(to right, #59A85E00 20%, #59A85E 51%, #59A85E00 80%);
}

.h-line-2{
    top: 38%;
    background: linear-gradient(to right, #59A85E00 14%, #59A85E80 51%, #59A85E00 80%);
}

.h-line-3{
    top: 26%;
    background: linear-gradient(to right, #59A85E00 12%, #59A85E50 50%, #59A85E00 78%);
}

.h-line-4{
    top: 14%;
    background: linear-gradient(to right, #59A85E00 33%, #59A85E20 54%, #59A85E00 66%);
}

.h-line-5{
    top: 62%;
    background: linear-gradient(to right, #59A85E00 20%, #59A85E50 45%, #59A85E00 74%);
}

.h-line-6{
    top: 74%;
    background: linear-gradient(to right, #59A85E00 26%, #59A85E50 46%, #59A85E00 64%);
}

.h-line-7{
    top: 86%;
    background: linear-gradient(to right, #59A85E00 17%, #59A85E10 47%, #59A85E00 52%);
}