.home-page{
    background: black;
    overflow: hidden;
    max-height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

.main-wrapper{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="1024" fill="none" viewBox="0 0 1440 1024"><path stroke="url(%23a)" stroke-width="2" d="M921 0v1024"/><path stroke="url(%23b)" stroke-width="2" d="M1021 0v1024"/><path stroke="url(%23c)" stroke-width="2" d="M1121 0v1024"/><path stroke="url(%23d)" stroke-width="2" d="M821 0v1024"/><path stroke="url(%23e)" stroke-width="2" d="M722 0v1024"/><path stroke="url(%23f)" stroke-width="2" d="M622 0v1024"/><path stroke="url(%23g)" stroke-width="2" d="M522 0v1024"/><path stroke="url(%23h)" stroke-width="2" d="M422 0v1024"/><path stroke="url(%23i)" stroke-width="2" d="M322 0v1024"/><path stroke="url(%23j)" stroke-width="2" d="M222 0v1024"/><path stroke="url(%23k)" stroke-width="2" d="M1446 513H0"/><path stroke="url(%23l)" stroke-width="2" d="M1440 613H0"/><path stroke="url(%23m)" stroke-width="2" d="M1440 713H0"/><path stroke="url(%23n)" stroke-width="2" d="M1440 813H0"/><path stroke="url(%23o)" stroke-width="2" d="M1440 413H0"/><path stroke="url(%23p)" stroke-width="2" d="M1440 313H0"/><path stroke="url(%23q)" stroke-width="2" d="M1440 213H0"/><defs><linearGradient id="a" x1="919.5" x2="919.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".189" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".5" stop-color="%2359A85E" stop-opacity=".6"/><stop offset=".711" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="b" x1="1019.5" x2="1019.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".299" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".492" stop-color="%2359A85E" stop-opacity=".2"/><stop offset=".641" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="c" x1="1119.5" x2="1119.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".299" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".439" stop-color="%2359A85E" stop-opacity=".2"/><stop offset=".534" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="d" x1="819.5" x2="819.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".189" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".5" stop-color="%2359A85E"/><stop offset=".793" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="e" x1="720.5" x2="720.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".16" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".5" stop-color="%2359A85E"/><stop offset=".815" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="f" x1="620.5" x2="620.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".176" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".5" stop-color="%2359A85E" stop-opacity=".8"/><stop offset=".842" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="g" x1="520.5" x2="520.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".165" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".5" stop-color="%2359A85E" stop-opacity=".5"/><stop offset=".848" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="h" x1="420.5" x2="420.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".233" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".525" stop-color="%2359A85E" stop-opacity=".3"/><stop offset=".844" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="i" x1="320.5" x2="320.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".254" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".519" stop-color="%2359A85E" stop-opacity=".2"/><stop offset=".67" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="j" x1="220.5" x2="220.5" y1="0" y2="1024" gradientUnits="userSpaceOnUse"><stop offset=".254" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".384" stop-color="%2359A85E" stop-opacity=".1"/><stop offset=".449" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="k" x1="0" x2="1446" y1="511.5" y2="511.5" gradientUnits="userSpaceOnUse"><stop offset=".203" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".51" stop-color="%2359A85E"/><stop offset=".796" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="l" x1="0" x2="1440" y1="611.5" y2="611.5" gradientUnits="userSpaceOnUse"><stop offset=".196" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".446" stop-color="%2359A85E" stop-opacity=".5"/><stop offset=".743" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="m" x1="0" x2="1440" y1="711.5" y2="711.5" gradientUnits="userSpaceOnUse"><stop offset=".26" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".457" stop-color="%2359A85E" stop-opacity=".5"/><stop offset=".64" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="n" x1="0" x2="1440" y1="811.5" y2="811.5" gradientUnits="userSpaceOnUse"><stop offset=".167" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".47" stop-color="%2359A85E" stop-opacity=".1"/><stop offset=".525" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="o" x1="0" x2="1440" y1="411.5" y2="411.5" gradientUnits="userSpaceOnUse"><stop offset=".141" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".51" stop-color="%2359A85E" stop-opacity=".8"/><stop offset=".802" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="p" x1="0" x2="1440" y1="311.5" y2="311.5" gradientUnits="userSpaceOnUse"><stop offset=".122" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".495" stop-color="%2359A85E" stop-opacity=".5"/><stop offset=".783" stop-color="%2359A85E" stop-opacity="0"/></linearGradient><linearGradient id="q" x1="0" x2="1440" y1="211.5" y2="211.5" gradientUnits="userSpaceOnUse"><stop offset=".326" stop-color="%2359A85E" stop-opacity="0"/><stop offset=".54" stop-color="%2359A85E" stop-opacity=".2"/><stop offset=".658" stop-color="%2359A85E" stop-opacity="0"/></linearGradient></defs></svg>');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 6rem;
    min-height: 100vh;
}

.position-relative{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ellipse{
    position: absolute;
    background-color: #59A85E;
    border-radius: 50%;
    width: 32vw;
    height: 35vh;
    filter: blur(100px);
    z-index: 0;
    transform: translateY(4vh);
}

.text-align-center{
    position: relative;
    text-align: center;
    font-family: "Inter Semi Bold", Arial;
    color: #04FAA4;
    z-index: 1;
}

.hero-section{
    font-weight: 800;
    font-size: 3rem;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.text-style-hero{
    color: white;
    font-size: 8rem;
    line-height: 10rem;
}

.get-started-button{
    width: 13.625rem;
    height: 3.625rem;
    border: 1px solid #04FAA4;
    border-radius: 30px;
    padding: 7px 40px;
    box-shadow: 0 6px 4px 0 rgba(4, 250, 164, 0.25);
    background: #000;
    color: #04FAA4;
    font-weight: 600;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.get-started-button:hover{
    border: 1px solid #04FAA4;
    background-color: #04FAA4;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}