.menu-page .navbar_container{
    top: 0;
    width: 100%;
    height: 6rem;
    position: fixed;
    font-family: "Inter", Arial;
    text-align: center;
    z-index: 1;
    border-bottom: 0.5vh solid transparent;
    background-image: linear-gradient(#1A1A1A, #1A1A1A), linear-gradient(90deg, #6A00FF 0%, #A64AFF 50%, #FFB1FF 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.menu-navbar{
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
}

.navbar-menu-chips{
    flex: 1 0 auto;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    display: flex;
    position: static;
}

.navbar-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 17px;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-profile p{
    font-size: .8rem;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

.navbar-user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}