.user-room-status-btn{
    background: #1A1A1A;
    border-radius: 3vh;
    padding: 7px 40px;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.user-room-ready-btn{
    border: 0.3vh solid #5EFC8D;
    color: #5EFC8D;
}

.user-room-wait-btn{
    border: 0.3vh solid #888888;
    color: #888888;
}

.user-room-status-btn:hover, .user-room-ready-btn:hover{
    border: 0.3vh solid #5EFC8D;
    background-color: #5EFC8D;
    color: black;
}

.nav-bar-button{
    color: #ffffff;
    position: relative;
    padding: 7px 30px;
    border-radius: 3vh;
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
}

.nav-bar-button:hover{
    border-color: #A64AFF;
}

.active-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 3vh;
    background-image: linear-gradient(90deg, #6A00FF, #A64AFF);
}

.motion-span{
    position: relative;
    z-index: 10;
}